body {
    font-family: 'Poppins', sans-serif;
    background-color: #dadada;
    color: black;
}

.page-header{
    background-color: rgb(60, 60, 141);
    color: whitesmoke;
    height: 100px;
}

#search-field {
    background-color: #ababab;
}

#weather-icon {
    width: 75px;
    height: auto;
    
}

.forecast-icon {
    width: 75px;
    height: auto;
}

